<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title
  <meta charset="utf-8"></meta>
</head>
<body>
<a href="/">START</a>
<h1>{{title}}</h1>
<h2>Here are the regions recommended for you:</h2>

<ul class="regions_list">
  {% for region in regions %}
  <li> <h2> Kommun {{ region.region_name}} comp:{{region.competitive_score}} work:{{region.working_score}} </h2>
  <ul>
    {% for posting in region.jobs %}
    <li><b>{{posting.title}}</b> <p>{{ posting.location_desc }} </p> </li>
  {% endfor %}
  </ul>
  </li>
    {% endfor %}
</ul>
</body>
</html>
