<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<h2>Testing Flask + Jquery</h2>
<h3 id="id1">[return value]]</h2>
<h3 id="idResp">[return value]]</h2>

</body>

<script>
console.log("start")

function createButton(name) {
    var btn = document.createElement('button');
    btn.setAttribute('id', name);
    btn.innerHTML = name;
    document.body.appendChild(btn);

    btn.addEventListener("click", function(e){
        send_data(name);
    });
}


function send_data(dataToSend) {
    var SendInfo= { "someVariable": dataToSend};
    console.log("Sending data");
    $.ajax({
        type: 'post',
        url : "http://localhost:5000/send_data",
        data: JSON.stringify(SendInfo),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            document.getElementById("id1").innerHTML = "Data sent";
            document.getElementById("idResp").innerHTML = data["someVariable"];
            console.log(data)
        }
    });
}

send_data("none")

</script>
</html>