<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>

<h1>{{title}}</h1>
<h2>Enter your curriculum vitae:</h2>
<form name="cv" action="/match" method="post">
<textarea id='curriculum' rows=20 cols=50 autofocus>Mitt namn är Karl. Jag kommer ifrån Estland. Har erfarenhet av att arbeta med barn i alla olika ålderar som pedagog. Önskar att hitta jobb på en ort som är lugn. Har goda kunskaper inom matematik men är väldigt svag i det svenska språket.</textarea>
<button id='send_cv' type="submit" value="submit">Send in CV</button>
</form>
</body>
</html>
